<h2>Edit an organization</h2>
<%= render 'form' %>
<br>
<div class="form-group">
  <%= link_to '« Back', business_contacts_path, class: 'btn btn-lg btn-default' %> |
  <%= link_to 'Show', business_contact_path(@organization) %>
</div>